<div class=" btn-container">

        <button type="button" class="btn btn-primary">
            <a href="/your-list">All</a>
        </button>

        <button type="button" class="btn btn-success">
            <a href="/done">already done</a>
        </button>

</div>