<form name="form" class="mt-4" action="/new-task"  method="post">
    <div class="form-group">
        <label for="exampleInputEmail1">New task</label>
        <div class="add-items d-flex w-70">
            <input name="task" type="text" class="form-control todo-list-input" placeholder="What do you need to do today?">
            <button type="submit" class="add btn btn-primary font-weight-bold todo-list-add-btn">Submit</button>
        </div>
    </div>

</form>