<div class="row header">
    <div class="col">
        <h1><span class="badge bg-secondary">Awesome Todo list</span></h1></div>
        <div class="col"> <button type="button" class="btn-light">
                <a href="/exit">Exit</a>
            </button>
        </div>

</div>